page{
	background-color: #F3F8FC;
}
.slot-wrap {
	display: flex;
	align-items: center;
	/* 如果您想让slot内容占满整个导航栏的宽度 */
	flex: 1;
	/* 如果您想让slot内容与导航栏左右有空隙 */
	padding: 0 30rpx;
}
.slot-wrap .title{
	padding: 20rpx 0;
	width: 690rpx;
	/* #ifdef MP-WEIXIN */
	padding-right: 170rpx;
	/* #endif */
}
.title .tit{
	font-weight: bold;
	font-size: 36rpx;
}
.title .text{
	color: #88a6a4;
	font-size: 20rpx;
	margin-top: 10rpx;
}
.title .text .line{
	margin: 8rpx 20rpx;
	border-left: 1rpx solid #88a6a4;
	width: 1rpx;
	height: 20rpx;
}
.title .all{
	font-weight: bold;
	font-size: 30rpx;
}

.saixuan{
	padding-top: 10rpx;
}
.saixuan .mybi{
	color: #698286;
}
.saixuan .mybi text{
	margin-left: 20rpx;
	font-weight: bold;
	font-size: 34rpx;
	color: #000;
}
.saixuan .nav{
	width: 690rpx;
	margin-top: 10rpx;
}
.banner{
	padding: 20rpx;
	box-sizing: border-box;
	background-color: #fff;
}
.dipic{
	width: 710rpx;
	padding: 20rpx;
}
.menu{
	padding: 0 20rpx;
	box-sizing: border-box;
	background-color: #fff;
}
.menu .list{
	width: 20%;
	text-align: center;
	font-size: 24rpx;
}
.menu .list image{
	width: 80rpx;
	height: 80rpx;
}
.menu .list view{
	margin-bottom: 20rpx;
}
.goodsList{
	background-color: #F3F8FC;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20rpx;
	box-sizing: border-box;
}
.goodsList .list{
	margin-bottom: 20rpx;
	background-color: #fff;
	width: 345rpx;
	
}
.goodsList .list image{
	width: 345rpx;
	height: 345rpx;
}
.goodsList .list .info{
	padding: 20rpx;
	box-sizing: border-box;
}
.goodsList .list .info .tit{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.2;
	height: 64rpx;
}
.goodsList .list .info .price{
	margin: 8rpx 0;
	font-weight: bold;
	font-size: 26rpx;
}
.goodsList .list .info .bi{
	color: #E97B13;
	font-size: 28rpx;
}