/* #ifndef APP-NVUE */
.n-btn {
	border: none;
	margin: 0;
	padding: 0;
	
}
/* #endif */
.n-flex-row{
	/* #ifndef APP-NVUE */
	display: flex;
	box-sizing: border-box;
	flex-direction: row !important;
	/* #endif */
	/* #ifdef APP-NVUE */
	flex-direction: row;
	/* #endif */
}
.n-flex-column{
	/* #ifndef APP-NVUE */
	display: flex;
	box-sizing: border-box;
	flex-direction: column !important;
	/* #endif */
	/* #ifdef APP-NVUE */
	flex-direction: column;
	/* #endif */
}
.n-justify-start{
	justify-content: flex-start;
}
.n-justify-center{
	justify-content: center;
}
.n-justify-end{
	justify-content: flex-end;
}
.n-justify-between{
	justify-content: space-between;
}
.n-justify-around{
	/* #ifndef APP-NVUE */
	justify-content: space-around;
	/* #endif */
}
.n-align-start{
	/* #ifdef APP-NVUE */
	align-items: flex-start;
	/* #endif */
	/* #ifndef APP-NVUE */
	align-items: flex-start !important;
	/* #endif */
}
.n-align-center{
	/* #ifdef APP-NVUE */
	align-items: center;
	/* #endif */
	/* #ifndef APP-NVUE */
	align-items: center !important;
	/* #endif */
}
.n-align-end{
	/* #ifdef APP-NVUE */
	align-items: flex-end;
	/* #endif */
	/* #ifndef APP-NVUE */
	align-items: flex-end !important;
	/* #endif */
}
.n-align-baseline{
	/* #ifndef APP-NVUE */
	align-items: baseline !important;
	/* #endif */
}
.n-align-stretch{
	/* #ifndef APP-NVUE */
	align-items: stretch !important;
	/* #endif */
}
.n-wrap{
	flex-wrap: wrap;
}
.n-nowrap{
	flex-wrap: nowrap;
}
.n-shrink-1{
	/* #ifndef APP-NVUE */
	flex-shrink: 1;
	/* #endif */
}
.n-shrink-0{
	/* #ifndef APP-NVUE */
	flex-shrink: 0;
	/* #endif */
}
.n-grow-1{
	/* #ifndef APP-NVUE */
	flex-grow: 1;
	/* #endif */
}
.n-grow-0{
	/* #ifndef APP-NVUE */
	flex-grow: 0;
	/* #endif */
}
.n-position-relative{
	/* #ifdef H5 || MP-TOUTIAO */
	position: relative !important;
	/* #endif */
	/* #ifndef H5 || MP-TOUTIAO */
	position: relative;
	/* #endif */
}
.n-position-absolute{
	/* #ifdef H5 || MP-TOUTIAO */
	position: absolute !important;
	/* #endif */
	/* #ifndef H5 || MP-TOUTIAO */
	position: absolute;
	/* #endif */
}
.n-position-fixed{
	/* #ifdef H5 || MP-TOUTIAO */
	position: fixed !important;
	/* #endif */
	/* #ifndef H5 || MP-TOUTIAO */
	position: fixed;
	/* #endif */
}
.n-position-sticky{
	/* #ifndef APP-NVUE */
	position: sticky;
	position: -webkit-sticky;
	/* #endif */
}

.container {
  padding-bottom: 200rpx;
}