.bg {
  background: url('https://img.alicdn.com/imgextra/i3/2215984279448/O1CN01JKGfeI2JfEvRaaG8P_!!2215984279448.gif') no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center top;
  min-height: 100vh;
  /* #ifdef H5 */
  min-height: calc(100vh - 50px);
  /* #endif */
}

::v-deep .u-drawer-bottom {
  background-color: transparent !important;
}

.top {
  padding-top: 20rpx;
  /* #ifndef MP-WEIXIN */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* #endif */
  z-index: 999;
  position: relative;
}

.top .right {
  /* #ifndef MP-WEIXIN */
  display: flex;
  /* #endif */
  /* #ifdef MP-WEIXIN */
  width: 90rpx;
  position: fixed;
  right: 10rpx;
  top: 160rpx;
  z-index: 99;
  /* #endif */
}

.kefu {
  width: 90rpx;
  height: 90rpx;
  background: url('@/static/image/so.png') no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: none;
}

button::after {
  border: none;
}

.top .left image {
  width: 90rpx;
  height: 90rpx;
  margin-left: 20rpx;
}

.top .right image {
  width: 90rpx;
  height: 90rpx;
  /* margin-right: 10rpx; */
}

.top .music {
  animation: music 4s linear 0s infinite normal none;
}

@keyframes music {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.top .stop {
  animation-play-state: paused;
}

.lunbo {
  margin-top: 160rpx;
  position: relative;
  height: 700rpx;
  /* #ifndef H5 */
  margin-top: 60rpx;
  /* #endif */
}

.dizuobox {
  text-align: center;
  position: absolute;
  left: 0;
  top: 460rpx;
  width: 750rpx;
}

.maxBox {
  position: absolute;
  top: 560rpx;
  text-align: center;
  width: 550rpx;
  left: 100rpx;
  z-index: 99;
}

.maxyou {
  display: inline-block;
  background: url('@/static/image/youhuitit.png') no-repeat;
  padding: 8rpx 30rpx 16rpx;
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
  font-family: 'myfont';
}


.dizuobox .price {
  position: absolute;
  top: 170rpx;
  left: 50rpx;
  width: 650rpx;
  text-align: center;
  z-index: 10;
  font-family: "myfont";
  font-size: 28rpx;
}

.dizuobox .price .num {
  font-size: 40rpx;
}

.lunbo .dizuo {
  width: 600rpx;
}

.lunbo .goods {
  position: absolute;
  left: 0;
  top: 0rpx;
  width: 750rpx;
  z-index: 9;
}

.lunbo .shou {
  width: 100rpx;
  position: absolute;
  right: 120rpx;
  top: 470rpx;
  z-index: 99;
  transform-style: preserve-3d;
  animation-name: shou;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes shou {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.lunboitem {
  position: relative;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lunboitem image {
  width: 500rpx;
}

.arrow {
  padding: 0 40rpx;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 300rpx;
  width: 750rpx;
  z-index: 10;
}

.arrow image {
  width: 50rpx;
  height: 50rpx;
}

.card {
  position: relative;
  margin-top: 20rpx;
}

.card .car {
  background: url('https://img.50api.cn/dingdang/sy.webp') no-repeat;
  background-size: cover;
  width: 200rpx;
  height: 200rpx;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.card .car image {
  width: 100rpx;
  height: 100rpx;
}

.card .active .car {
  background: url('https://img.50api.cn/dingdang/sz.webp') no-repeat;
  background-size: cover;
  width: 230rpx;
  height: 230rpx;
  position: relative;
  left: -6rpx;
}

.card .active .car image {
  width: 130rpx;
  height: 130rpx;
}

.card .car .boxname {
  font-family: "myfont";
  position: absolute;
  width: 100%;
  bottom: 45rpx;
  color: #6DAABC;
}

.card .active .car .boxname {
  font-family: "myfont";
  font-size: 36rpx;
  color: #0089A3;
}

.qbtn {
  margin-top: 40rpx;
  padding: 0 40rpx;
}

.qbtn .left image {
  height: 150rpx;
  /* transform: rotateX(0deg); */
}

.qbtn .kaixiang {
  position: relative;
  width: 400rpx;
}

.qbtn .kaixiang image {
  width: 400rpx;
  position: absolute;
  left: 0;
  top: 0;
}

.biankuang {
  position: absolute;
  left: 40rpx;
  top: 10rpx;
  width: 328rpx;
  height: 90rpx;
  border-radius: 20rpx;
  transform: perspective(200rpx) rotateX(10deg);
  overflow: hidden;
  box-shadow: 0 0 10rpx #2ceaff;
  z-index: 1;
}

.biankuang>text {
  position: absolute;
}

.biankuang>text:nth-child(1) {
  width: 100%;
  height: 3px;
  background: -webkit-linear-gradient(left, transparent, #affeff);
  left: -100%;
  top: 0px;
  animation: line1 2s linear infinite;
}

@keyframes line1 {

  50%,
  100% {
    left: 100%;
  }
}

.biankuang>text:nth-child(2) {
  width: 3px;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent, #affeff);
  right: 0px;
  top: -100%;
  animation: line2 2s 0.25s linear infinite;
}

@keyframes line2 {

  50%,
  100% {
    top: 100%;
  }
}

.biankuang>text:nth-child(3) {
  width: 100%;
  height: 3px;
  background: -webkit-linear-gradient(left, #affeff, transparent);
  left: 100%;
  bottom: 0px;
  animation: line3 2s 0.75s linear infinite;
}

@keyframes line3 {

  50%,
  100% {
    left: -100%;
  }
}

.biankuang>text:nth-child(4) {
  width: 3px;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent, #affeff);
  left: 0px;
  top: 100%;
  animation: line4 2s 1s linear infinite;
}

@keyframes line4 {

  50%,
  100% {
    top: -100%;
  }
}

@keyframes guang {

  50%,
  100% {
    transform: translateX(370rpx) skewX(30deg);
  }
}

.biankuang:after {
  content: '';
  position: absolute;
  width: 80rpx;
  height: 100%;
  z-index: 1;
  background-color: rgba(112, 203, 254, 0.5);
  transform: translateX(-100rpx) skewX(30deg);
  transition: 0.75s ease-in-out;
  overflow: hidden;
  animation: guang 2.5s 1s linear infinite;
  box-shadow: 0 0 10rpx #24b4f3;
}

/* .biankuang:hover:after {
	transform: translateX(170rpx) skewX(30deg);
} */

.tip {
  text-align: center;
  color: #6DAABC;
  font-size: 20rpx;
  margin-top: 20rpx;
}

.free {
  width: 100rpx;
  height: 100rpx;
  position: fixed;
  right: 10rpx;
  top: 900rpx;
  z-index: 9999;
}

.xinshou {
  width: 50rpx;
  position: fixed;
  left: 0;
  top: 820rpx;
  z-index: 99;
}

/* 优惠券 */
.newPeopleBox {
  width: 750rpx;
}

.newmainBox {
  background: url('https://img.50api.cn/dingdang/newpeople.png') no-repeat;
  width: 750rpx;
  height: 784rpx;
  background-size: 100%;
  padding-top: 200rpx;
}

.youhuilist {
  width: 550rpx;
  height: 566rpx;
  margin: 0 auto;
}

.newmainBox .youhuibox {
  background: url('https://img.50api.cn/dingdang/youhui.png') no-repeat;
  background-size: 550rpx 157rpx;
  width: 550rpx;
  height: 157rpx;
  margin: 20rpx auto;
  display: flex;
  justify-content: space-between;
}

.newmainBox .youhuibox .left {
  display: flex;
  align-items: center;
  color: #255470;
  padding-left: 20rpx;
}

.newmainBox .youhuibox .left .name {
  font-size: 34rpx;
  margin-bottom: 10rpx;
  color: #255470;
}

.newmainBox .youhuibox .left .price1 {
  color: #255470;
  font-size: 28rpx;
}

.newmainBox .youhuibox .left .price1 .pri {
  font-weight: 700;
  font-size: 36rpx;
  color: #255470;
  vertical-align: -6%;
  margin-right: 8rpx;
}

.newmainBox .youhuibox .right {
  width: 160rpx;
  height: 156rpx;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newmainBox .youhuibox .right .ling {

  border-radius: 50rpx;
  width: 120rpx;
  border-radius: 10rpx;
  text-align: center;
  line-height: 45rpx;
}

.newmainBox .youhuibox .right .active {
  background-color: #60E0E1;
  color: #fff;
}

.newmainBox .youhuibox .right .yiling {
  background-color: #9d9d9d;
  color: #fff;
}

.newmainBox .youhuibox .right .price {
  font-size: 28rpx;
  color: #fff;
  margin-bottom: 10rpx;
  font-weight: 700;
}

.newmainBox .youhuibox .right .price text {
  font-size: 46rpx;
  color: #fff;
}

.newPeopleBox .btm {
  width: 750rpx;
  position: relative;
  top: -60rpx;
}

.newPeopleBox .btm .btmBg {
  width: 750rpx;
  position: absolute;
  top: 0;
  left: 0;
}

.newPeopleBox .btm .btn1 {
  width: 750rpx;
  position: absolute;
  top: 80rpx;
  left: 0;
  text-align: center;
}

.newPeopleBox .btm .btn1 image {
  width: 350rpx;
  display: inline-block;
}

.newPeopleBox .off {
  text-align: center;
  margin-top: 180rpx;
}

.box11 .off {
  text-align: center;
  margin-top: 40rpx;
}

.newPeopleBox .off image,
.box11 .off image,
.tanBox .off image {
  width: 70rpx;
  height: 70rpx;
  display: inline-block;
}

.daojubox {
  background: url('https://img.50api.cn/dingdang/qo.png') no-repeat;
  background-size: 100%;
  width: 650rpx;
  height: 980rpx;
  padding: 30rpx;
  padding-top: 60rpx;
  box-sizing: border-box;
}

.daojubox .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daojubox .top image {
  width: 350rpx;
}

.daojubox .rulebox {
  color: #164367;
}

.daojubox .rulebox .wen {
  border-radius: 50%;
  color: #164367;
  border: 4rpx solid #164367;
  width: 40rpx;
  height: 40rpx;
  line-height: 36rpx;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-right: 10rpx;
}

.nodata {
  height: 680rpx;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodata image {
  width: 340rpx;
  height: 340rpx;
}

.nodata .tit {
  font-size: 34rpx;
  margin: 20rpx 0;
}

.nodata .fun {
  font-size: 28rpx;
  color: #999;
}

.cardList .list {
  background-color: #fff;
  margin-bottom: 20rpx;
  padding: 20rpx;
  box-sizing: border-box;
  width: 100%;
}

.cardList .list .goods .picbox {
  background-color: #F1F2F6;
  width: 150rpx;
  height: 150rpx;
  padding: 20rpx;
  box-sizing: border-box;
  flex-shrink: 0;
}

.cardList .list .goods .picbox image {
  width: 100%;
  height: 100%;
}

.cardList .textbox {
  margin-left: 20rpx;
  width: 100%;
}

.cardList .textbox .tit {
  font-size: 32rpx;
}

.cardList .textbox .two {
  font-size: 28rpx;
  margin-top: 10rpx;
}

.cardList .textbox .qi {
  color: #999;
  font-size: 24rpx;
  margin-top: 10rpx;
}

.cardList .list .tip1 {
  color: #999;
  font-size: 24rpx;
  margin-top: 10rpx;
  line-height: 1.3;
}

.explain .tit {
  background-image: linear-gradient(#afc5f3, #94a0e4);
  font-size: 32rpx;
  display: inline-block;
  font-weight: bold;
  padding: 6rpx 15rpx;
  color: #333;
  margin-top: 15rpx;
}

.explain .tit text {
  margin: 0 10rpx;
}

.explain .btm {
  /* background-color: #fff; */
  text-align: center;
  padding-top: 30rpx;
}

.explain .btm .btn2 {
  display: inline-block;
  background-color: #a5b0e1;
  padding: 25rpx 80rpx;
}

.explain .text {
  color: #999;
  font-size: 24rpx;
}

.vbox {
  background-color: #fff;
  width: 650rpx;
  padding: 10rpx;
  box-sizing: border-box;
}

.vbox .v {
  width: 100%;
}

.vbox .btm {
  padding: 20rpx 0;
}

.vbox .btm button {
  background-color: #2ceaff;
  width: 50%;
}

.orderbox {
  background-color: #fff;
  z-index: 999;
}

.orderbox .tit {
  text-align: center;
  padding: 30rpx 0;
  font-size: 32rpx;
}

.orderbox .con {
  background-color: #F3F4F8;
  padding: 20rpx;
  box-sizing: border-box;
  min-height: 800rpx;
}

.orderbox .con .box1 {
  padding: 20rpx;
  box-sizing: border-box;
  background-color: #fff;
}

.orderbox .goods image {
  width: 150rpx;
  height: 150rpx;
  flex-shrink: 0;
}

.orderbox .goods .info {
  padding-top: 10rpx;
  width: 90%;
  margin-left: 30rpx;
}

.orderbox .goods .info .t {
  font-size: 34rpx;
}

.orderbox .goods .info .two {
  display: flex;
  justify-content: space-between;
  margin-top: 20rpx;
}

.orderbox .goods .info .two .price {
  font-size: 30rpx;
  font-weight: bold;
}

.orderbox .goods .info .two .num {
  color: #999;
}

.orderbox .rowitem {
  padding: 20rpx 0;
}

.orderbox .rowitem image {
  width: 45rpx;
  height: 45rpx;
  margin-right: 10rpx;
}

.orderbox .rowitem .l {
  display: flex;
  align-items: center;
}

.orderbox .total {
  border-top: 1rpx solid #e5e5e5;
  text-align: right;
  font-weight: bold;
  padding: 30rpx 0 10rpx;
}

.orderbox .total text {
  color: #d81e06;
  font-size: 32rpx;
}

.orderbox .payrow {
  /* width: 670rpx; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderbox .obtm {
  padding: 20rpx;
  box-sizing: border-box;
  background-color: #fff;
}

.orderbox .obtm button {
  background-color: #70DDE0;
}

.orderbox .obtm button text {
  font-weight: bold;
}

.orderbox .xieyi {
  text-align: center;
  padding-bottom: 20rpx;
}

.syouhui {
  background-color: #fff;
}

.youtit {
  padding: 20rpx 0;
  display: flex;
  position: relative;
}

.youtit .back {
  padding: 0 20rpx;
  position: absolute;
}

.youtit .youhuit {
  font-size: 34rpx;
  text-align: center;
  width: 100%;
}

.youhuicon {
  background-color: #F4F8FB;
  /* min-height: 900rpx; */
  padding: 20rpx;
  box-sizing: border-box;
}

.youhuicon .shitu {
  height: 670rpx;
}

.youhuicon .shitu .couList {
  display: flex;
  height: 160rpx;
  border-radius: 6rpx;
  overflow: hidden;
  margin-bottom: 20rpx;
}

.youhuicon .shitu .couList .l {
  flex-shrink: 0;
  width: 160rpx;
  height: 160rpx;
  background-color: #63D7D6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youhuicon .shitu .couList .l .aa {
  font-size: 30rpx;
  color: #fff;
}

.youhuicon .shitu .couList .l .pri {
  font-size: 46rpx;
  color: #fff;
}

.youhuicon .shitu .couList .l .tiao {
  color: #fff;
  text-align: center;
  font-size: 24rpx;
}

.youhuicon .shitu .couList .r {
  background-color: #fff;
  width: 100%;
  padding: 20rpx;
  height: 160rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.youhuicon .shitu .couList .r .ll .t {
  font-size: 32rpx;
}

.youhuicon .shitu .couList .r .use {
  margin: 8rpx 0;
}

.youhuicon .shitu .couList .r .qi {
  font-size: 24rpx;
  color: #999;
}

.youhuicon .btn {
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 80rpx;
  background-color: #63D7D6;
  font-size: 32rpx;
  margin-top: 20rpx;
  border-radius: 6rpx;
}

.luckbox {
  background: url('https://img.50api.cn/dingdang/luckbg.png') no-repeat;
  background-size: 100%;
  border-radius: 24rpx;
  box-sizing: border-box;
  padding: 30rpx;
  width: 650rpx;
  background-color: #fff;
}

.luckbox .top {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.luckbox .titpic {
  width: 50%;
}

.luckbox .goodsPic {
  width: 45%;
  position: relative;
  /* top: -80rpx; */
}

.luckbox .option {
  padding: 20rpx 0;
}

.luckbox .option .row {
  display: flex;
  justify-content: space-between;
}

.luckbox .option .row .chou {
  background: url('https://img.50api.cn/dingdang/rx.webp') no-repeat;
  background-size: 100%;
  width: 49%;
  display: flex;
  align-items: center;
  text-align: center;
  height: 124rpx;
  margin: 15rpx 0;
  position: relative;
}

.jian {
  position: absolute;
  background-color: #FFEAE5;
  font-size: 22rpx;
  color: #E54E20;
  padding: 2rpx 20rpx;
  border: 1rpx solid #E6A793;
  border-top-right-radius: 40rpx;
  border-bottom-right-radius: 40rpx;
  top: -20rpx;
  left: 10rpx;
}

.yuanj {
  font-size: 24rpx;
  color: #077C8B;
  text-decoration: line-through;
  margin-left: 5rpx;
}

.luckbox .option .row .chou .b {
  width: 100%;
}

.luckbox .option .row .chou .tit {
  font-size: 32rpx;
  margin-bottom: 6rpx;
}

.luckbox .option .shi {
  background: url('https://img.50api.cn/dingdang/rw.webp');
  height: 124rpx;
  text-align: center;
  background-size: 100% 124rpx;
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  position: relative;
}

.luckbox .option .shi .b {
  width: 100%;
}

.ouhuang {
  background: url('https://img.50api.cn/dingdang/pk.webp') no-repeat;
  background-size: 100%;
}

.ouhuang .scroll {
  height: 920rpx;
  margin-top: 80rpx;
}

.ouhuang .scroll .listbox {
  padding: 0 30rpx;
  box-sizing: border-box;
}

.ouhuang .scroll .listbox .list {
  margin-bottom: 20rpx;
}

.ouhuang .scroll .listbox .picbox {
  position: relative;
}

.ouhuang .scroll .listbox .picbox image {
  width: 100%;
  height: 350rpx;
}

.ouhuang .scroll .listbox .picbox .text {
  padding: 0 20rpx;
  line-height: 80rpx;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tong {
  position: fixed;
  left: 0;
  top: 220rpx;
  width: 750rpx;
  background-size: 100% 100% !important;
  height: 80rpx;
  background-repeat: no-repeat !important;
  /* #ifdef H5 */
  top: 150rpx;
  /* #endif */
}

.tong .text {
  /* width: 550rpx; */
  padding: 0 30rpx;
  padding-right: 120rpx;
  box-sizing: border-box;
}

.tong image {
  position: absolute;
  width: 100rpx;
  right: 50rpx;
  top: -40rpx;
}

.tanBox {
  width: 600rpx;
  text-align: center;
}

.tanBox .pic image {
  width: 100%;
}