page {
	background-color: #F4F4FC;
}

.top {
	background: url('https://img.50api.cn/dingdang/orderBg.png') no-repeat;
	background-size: 100%;
	height: 376rpx;
}

.top .title {
	line-height: 230rpx;
	text-align: center;
	color: #fff;
	font-size: 40rpx
}

.address {
	width: 710rpx;
	padding: 40rpx 20rpx;
	background-color: #fff;
	margin: 20rpx auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -160rpx;
}

.address .left {
	display: flex;
	align-items: center;
}

.address .left image {
	width: 60rpx;
	height: 60rpx;
	margin-right: 10rpx;
}

.address .info .name {
	font-size: 34rpx;
}

.address .info .name text {
	font-size: 28rpx;
	color: #999;
	margin-left: 20rpx;
}

.address .add {
	margin-top: 10rpx;
}

.orderList {
	padding: 20rpx;
	box-sizing: border-box;
}

.orderList .list {
	margin-bottom: 20rpx;
	background-color: #fff;
	padding: 20rpx;
	box-sizing: border-box;
}

.tit {
	padding-bottom: 20rpx;
	border-bottom: 1rpx solid #f4f4f5;
}

.tit .state {
	color: #999;
}

.list .goods {
	padding: 20rpx 0;
	display: flex;
}

.list .goods image {
	width: 200rpx;
	height: 200rpx;
	flex-shrink: 0;
}

.goods .info {
	margin-left: 20rpx;
	width: 100%;
}

.goods .peice {
	margin-top: 20rpx;
}

.goods .peice .p {
	font-size: 34rpx;
	font-weight: bold;
}

.goods .peice .num {
	color: #999;
}

.row {
	display: flex;
	padding: 16rpx 0;
	box-sizing: border-box;
	justify-content: space-between;
}

.row .r {
	font-weight: bold;
}

.row .r1 {
	color: #999;
}

.obox {
	background-color: #fff;
	width: 710rpx;
	margin: 0 auto;
	padding: 20rpx;
	box-sizing: border-box;
}

.btm {
	z-index: 999;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 750rpx;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.btmbox {
	display: flex;
	justify-content: flex-end;
	padding: 20rpx;
	box-sizing: border-box;
}

.btmbox text {
	font-size: 36rpx;
	font-weight: bold;
}

.btmbox button {
	background-color: #00E1DB;
	color: #fff;
	margin-left: 20rpx;
	width: 250rpx;
}

.btmbox .yun {
	color: #999;
	font-size: 24rpx;
	text-align: right;
}

.wuliu {
	padding: 20rpx;
	background-color: #FFF;
	box-sizing: border-box;
	width: 710rpx;
	margin: 0 auto;
	margin-bottom: 40rpx;
}

.kuaidi {
	margin-top: 20rpx;
}

.copy {
	color: #00E1DB;
	font-size: 32rpx;
}

.wuliu .con {
	padding-top: 20rpx;
}

.u-node {
	width: 44rpx;
	height: 44rpx;
	border-radius: 100rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d0d0d0;
}

.u-order-title {
	color: #333333;
	font-weight: bold;
	font-size: 32rpx;
}

.u-order-title.unacive {
	color: rgb(150, 150, 150);
}

.u-order-desc {
	color: rgb(150, 150, 150);
	font-size: 28rpx;
	margin-bottom: 6rpx;
}

.u-order-time {
	color: rgb(200, 200, 200);
	font-size: 26rpx;
}

.tel {
	color: $u-type-primary;
}
